# Variáveis de ambiente
.env
.env.local

# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
build/
dist/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Dados locais
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/rejected/*
!data/rejected/.gitkeep

.env.test
coverage.xml